.partners-container{
    width: 100%;
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 2rem; */
}
.partners-img-container{
    display: grid;
    grid-template-columns: repeat(4,25%);
}
.partners-img-container img{
    object-fit: cover;
    width: 100%;
}
.tex-container{
    width: 100%;
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.tex-img{
    width: 100%;
    height: 700px;
}
.tex-img img{
    max-height: 700px;
    width: 100%;
    height: 100%;
}
.tex-content{
    width: 50%;
    position: absolute;
    left: 10%;
    top: 20%;
}
.tex-content .tex-title{
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
}
.tex-content .tex-descr{
    color: #fff;
    line-height: 1.5;
    width: 50%;
    margin-bottom: 30px;
}
.tex-content .tex-btn{
    border: 2px solid #fff;
    color: #fff;
    padding: 7px 20px;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 20px;
    transition: 0.5s;
}
.tex-content .tex-btn:hover{
    background-color: #fff;
    color: #2c3442;
}