.section-title{
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
}
.container{
    margin: 0 auto;
    max-width: 1560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}