*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-title{
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
}
.container{
    margin: 0 auto;
    max-width: 1560px;
    display: flex;
    flex-direction: column;
}
